*,
*:after,
*:before {
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    padding-left: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-width: 100%;
}

.container__header {
    margin-top: 20px;
    
    display: flex;

    align-items: center;
    justify-content: flex-end;
}

.img {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #EEEEEE;
}

.header__link {
    margin-right: 20px;
}

.link {
    font-size: 12px;
    color: #000000;
}

.button {
    padding: 10px;
    margin-right: 20px;

    background-color: #2191EB;

    color: #FFFFFF;
}

.container__main {
    width: 100%;
}

.container__img {
    width: 300px;
    height: 150px;

    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 100%;
    margin-top: 20px;
}

.entrada {
    width: 50%;
    height: 40px;

    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    background-color: #FFFFFF;
    border: 1px solid rgb(221, 215, 215);
    border-radius: 30px;
}

.botones {
    width: 100%;
    margin-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    margin-right: 10px;

    background-color: #EEEEEE;
    color: #000000;
    font-size: 14px;
    border-style: none;
    border-radius: 5px;
}

.texto {
    margin-top: 30px;

    text-align: center;
    font-size: 12px;
}

.pais, 
.enlaces {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;

    background-color: #EEEEEE;
}

.pais {
    border-top: 1px solid rgb(200, 200, 200);;
    border-bottom: 1px solid rgb(206, 200, 200);
}

.enlaces {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.negocios,
.politicas {
    font-size: 12px;
}

.politicas {
    margin-right: 20px;
}

.link-enlaces {
    color: #000000;
}

.link-enlaces:hover,
.header__link:hover {
    text-decoration: underline;
}